<div class="todo done-{{completed}}" data-id="{{id}}" >
  <label>
  <input id="todo_completed" 
         type="checkbox" 
         {{#if completed}} checked {{/if}} 
         name="completed"> 
  {{title}}
  </label>
  <button id="removeTodo">delete</button>
</div>
